nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:#111827;
    position:sticky;
    top:0;
    z-index:100;
}

nav h2{
    color:white;
    font-size:2rem;
    font-weight:bold;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
    margin:0;
    padding:0;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-size:18px;
    transition:0.3s;
}

nav ul li a:hover{
    color:#ff4b4b;
}