.error-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f8f8f8;
}

.error-page h1 {
  font-size: 120px;
  color: #e50914;
}

.error-page h2 {
  font-size: 36px;
  margin: 10px 0;
}

.error-page p {
  color: #666;
  margin-bottom: 20px;
}

.error-page button {
  padding: 12px 22px;
  border: none;
  background: #e50914;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.error-page button:hover {
  background: #b20710;
}